%html{lang: 'en'}
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %meta{:charset => 'UTF-8'}
    %meta{:content => 'IE=edge', 'http-equiv': 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1.0', name: 'viewport'}

    %title Title

  %body
    = yield
