.vscode/**
.vscode-test/**
src/**
images/**/*.gif
images/**/*.svg
tmp/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
.ruby-lsp
