.vscode/**
.vscode-test/**
src/**
bin/**
images/**/*.gif
images/**/*.svg
tmp/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules
vendor/**
.bundle/**
.ruby-lsp
Gemfile*
out/**
esbuild.js
test/**
.prettierignore
.rubocop.yml
.github/**
AGENTS.md
CLAUDE.md
